body {
    padding: 0;
    margin: 0;
    background-image: url(tausta/image\ \(5\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
   
}
h1{
    color:yellow;
}
::-webkit-scrollbar {
    display: none;
}
h4{
    color:yellow;
}